<a href="https://colab.research.google.com/github/infoteacherkovrov/data-analysis/blob/main/Shastin_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[Ссылка на новый вариант](https://kompege.ru/variant?kim=25141693)

# задание 2

In [ ]:
#соловьев
print('x y z w')
for x in range(2):
    for y in range(2):
        for z in range(2):
            for w in range(2):
                f=(not((not(y<=z)) or (w==x) or w))
                if f==1:
                    print(x,y,z,w)
#ответ: WZYX

# задание 5

In [ ]:
#соловьев
def fv(n):
    if n==0:
        return '0'
    s=''
    while n>0:
        s=str(n%5)+s
        n=n//5
    return s

m=[]
for n in range(1,1000):
    b=fv(n)
    l=sum(map(int,b))
    if l%2==0:
        b=b+'222'
    else:
        b='33'+b+'4'
    r=int(b,5)
    if r<9616:
        m.append(n)
print(max(m))

76

# задание 6

In [ ]:
#соловьев
from turtle import *

tracer(0)
screensize(5000,5000)
r=20
lt(90)   # Черепаху нужно повернуть лицом вверх, вдоль положительного направления оси ординат
#1 прямоугольник размером 14 х 12
for i in range(2):
    fd(14*r); lt(270); bk(12*r); rt(90)

up(); fd(9*r); rt(90); bk(7*r); lt(90)
down()
#2 прямоугольник размером 13 х 6
for i in range(2):
    fd(13*r); rt(90); fd(6*r); rt(90)

up()
fd(7*r); rt(180); bk(2*r);
down()
#3 прямоугольник размером 10 х 12
for i in range(2):
    fd(10*r); rt(90); fd(12*r); rt(90)

up()
for x in range(-50,50):
    for y in range(-50,50):
        goto(x*r,y*r)
        dot(3,'blue')

update()
# Ответ: 296?

![shastin04.png]()

#Задание 9

In [ ]:
#Пронин
with open('9.csv') as f:
    k=0
    for i in f.readlines():
        s=list(map(int,i.split(',')))
        if sum(1 for j in s if j!=max(s) and j!=min(s) and j%7==0)>0:
            scopy=sorted(s)
            if sum(1 for j in range(3) if scopy[j]==scopy[j+1])==1:
                k+=1
print(k)

# задание 14

In [ ]:
#соловьев
s=12*(17**12)+13*(17**7)

def st(n):
    if n == 0:
        return [0]
    cifr = []
    while n:
        cifr.append(n % 17)
        n //= 17
    return cifr[::-1]

def cifr_above_9(digits):
    return sum(1 for d in digits if d > 9)

m=[]
for x in range(10000):
    N=s-x
    cifr17=st(N)
    if cifr_above_9(cifr17)==9:
       m.append(x)

print(max(m))

9935

In [ ]:
#соловьев
s=12*(17**12)+13*(17**7)

def st(n):
    if n == 0:
        return [0]
    cifr =0
    while n:
        if n % 17>9:
            cifr+=1
        n //= 17
    return cifr


    return sum(1 for d in digits if d > 9)

m=[]
for x in range(10000):
    N=s-x
    if st(N)==9:
       m.append(x)

print(max(m))

9935

# задание 16

In [ ]:
#соловьев
from functools import *

@lru_cache(None)
def f(n):
    if n<220:
        return n
    if n>=220:
        return (n-3)*f(n-4)

for i in range(219,123818): f(i)

print((f(123817)-f(123813))/(9*f(123809)))

1703254170.0

In [ ]:
#Пронин
f=dict()
for n in range(215,123818):
    if n<220:
        f[n]=n
    else:
        f[n]= (n-3)*f[n-4]

print((f[123817]-f[123813])/(9*f[123809]))

1703254170.0

# задание 23

In [ ]:
# соловьев
from functools import lru_cache

@lru_cache(None)
def cp(n):
    if n == 12:
        return 1
    if n < 12:
        return 0
    total = 0
    # команда a: вычесть 2
    total += cp(n - 2)

    # команда b: поменять местами
    if n >= 10:
        units = n % 10
        tens = (n // 10) % 10
        if units < tens:
            swapped = units * 10 + tens
            total += cp(swapped)

    return total

result = cp(49)
print(result)
# может можно проще, но у меня не получалось

4

In [ ]:
#Пронин Так покороче
def f(n):
    if n==12:
        return 1
    if n<12:
        return 0
    if n%10<n//10: #если младший разряд меньше старшего
        return f(n-2)+f(n%10*10+n//10)
    else:
        return f(n-2)
print(f(49))

4

#Задание 26

In [ ]:
f = open('26.txt')# Баранов
s = [a for a in f]
n = int(s[0]) # число N из задания
s = s[1:]
s = [[int(a) for a in x.split()] for x in s] # приводим файл к виду, с которым можно работать


ul = [] # список количества решенных уникальных задач
pl = [] # список учеников, которые решили эти уникальные задачи (содержит индентификаторы из файла)

ut = [] # список уникальных заданий

for x in range(len(s)):
    if s[x][1] not in ut:
        for y in range(len(s)):
            if s[x][1] == s[y][1]:
                if x == y or s[x][0] == s[y][0]:
                    pass
                else:
                    break
        else:
            ut.append(s[x][1])

apl = set([x[0] for x in s]) # список идентификаторов уникальных учеников

for id in apl:
    k = 0
    if id not in pl:
        nr = []
        for id1 in range(len(s)):
            if id == s[id1][0]:
                if s[id1][1] in ut and s[id1][1] not in nr:
                    k += 1
                    nr.append(s[id1][1])
        ul.append(k)
        pl.append(s[id1][0])
    else:
        continue

answer1 = 0
answer2 = 0

for j in range(len(pl)):
    if ul[j] > answer2:
        answer2 = ul[j]
        answer1 = pl[j]
    elif ul[j] == answer2:
        if pl[j] >= answer1:
            answer1 = pl[j]
print(answer1)
print(answer2)
# код работает довольно долго(примерно 20 секунд), я не придумал как его оптимизировать
# Ответ: 42308 117

In [ ]:
# Пронин
from collections import Counter
with open('26.txt') as f:
    n=int(f.readline())
    # создаем словарь с ключом номера задачи
    # и значением множества учеников ее решивших
    d=dict()
    for i in range(n):
        id_student,id_problem = map(int,f.readline().split())
        if id_problem not in d:
            d[id_problem]=set()
        d[id_problem].add(id_student)
# выберем из словаря только те задачи, которые решил единственный человек
# и создадим список из номеров участников
rez=(list(d[i])[0] for i in d.keys() if len(d[i])==1)
# создадим словарь с ключом Id ученика и значением количества
# решенных задач только этим учеником
i=Counter(rez)
print(i)
# работает меньше секунды, но где-то ошибка, так как первая тройка ответов у меня такая
# 40645 117
# 42308 116
# 49362 103
# ошибка в несоответствии первого введенного числа и количества следующих строк

# Задание 25

In [ ]:
k = 0 # Баранов
res = []
res1 = []
for x in range(1, 40):
    for y in range(1, 40):
        q = 2**x + 2**y
        if q > 2_000_000 and x != y and q not in res1:
            res.append([q, x+y])
            res1.append(q)
res.sort()
for i in range(5):
    print(res[i][0], res[i][1])

2097154 22
2097156 23
2097160 24
2097168 25
2097184 26

In [ ]:
#Пронин
k=0
st=[2**i for i in range(1,25)]
for i in range(2000001,10**10):
    for j in range(24):
        rez=[j+q+2 for q in range(j+1,24) if st[j]+st[q]==i]
        if len(rez)>0:
            print(i,rez[0])
            k+=1
            break
    if k==5:
        break

2097154 22
2097156 23
2097160 24
2097168 25
2097184 26

#27 Задание

In [ ]:
# Вот тут не очень эффективное, но верное решение
from math import dist
def core(n):
    distance=10**10
    for i in n:

        currentdist=sorted([dist(i,j) for j in n if i!=j])
        currentsum= sum(currentdist[:5])+sum(currentdist[-10:])
        if currentsum<distance:
            distance=currentsum
            point=i
    return point
with open('27_A.txt') as f:
    kl1=[]
    kl2=[]
    for i in f.readlines():
        x,y = map(float,i.split())
        if y>5:
            kl1.append((x,y))
        else:
            kl2.append((x,y))

x1,y1=core(kl1)
x2,y2=core(kl2)
print(min(x1,x2)*10000,max(y1,y2)*10000)

with open('27_B.txt') as f:
    kl1=[]
    kl2=[]
    kl3=[]
    for i in f.readlines():
        x,y = map(float,i.split())
        if y>7:
            kl1.append((x,y))
        elif x>0:
            kl2.append((x,y))
        else:
            kl3.append((x,y))
print(len(kl1),len(kl2),len(kl3))
x1,y1=core(kl1)
x2,y2=core(kl2)
x3,y3=core(kl3)
print(dist((x1,y1),(x3,y3))*10000,(y1+y2+y3)/3*10000)

# Задание 24

In [ ]:
f = open('24.txt') # Баранов
s = f.readline()
start = 0
maxlen = [0]
counter = [0]*8
def digitsnum(string):
    k = 0
    for elem in string:
        if elem.isdigit():
            k += 1
        if k > 14:
            break
    return k
def opt(counter, x):
    if x == '(':
        counter[0] += 1
    if x == ')':
        counter[1] += 1
    if x == '+':
        counter[2] += 1
    if x == '-':
        counter[3] += 1
    if x == '4':
        counter[4] += 1
    if x == '7':
        counter[5] += 1
    if x == '8':
        counter[6] += 1
    if x == '9':
        counter[7] += 1
def q(counter, curcon):
    if counter[0] < 1:
        return False
    if counter[1] < 1:
        return False
    if counter[2] < 1:
        return False
    if counter[3] < 2:
        return False
    if counter[4] < 2:
        return False
    if counter[5] < 1:
        return False
    if counter[6] < 1:
        return False
    if counter[7] < 1:
        return False
    if digitsnum(curcon) < 13:
        return False
    return True
def g(counter, x):
    alf = '()+-4789'
    if x in alf:
        r = alf.index(x)
        counter[r] -=1
for x in range(len(s)):
    opt(counter, s[x])
    while start <= x and q(counter, s[start:x+1]):
        g(counter, s[start])
        start += 1
    maxlen.append(len(s[start:x+1]))
print(max(maxlen))
# Ответ 70054
# Я не знаю как это оптимизировать

In [ ]:
with open('24.txt') as f: #Пронин  у меня секунд 20 работает
    s=f.readline()
maxlength=0
d= {i:0 for i in '+-()0123456789d'}
left=0
for right in range(len(s)):
    d[s[right]]+=1
    if s[right].isdigit(): d['d']+=1
    while  d['+']>0 and d['-']>1 and d['(']>0 and d[')']>0 and d['9']>0 \
        and d['8']>0 and d['7']>1 and d['4']>1 and d['d']>10:
        d[s[left]]-=1
        if s[left].isdigit(): d['d']-=1
        left+=1

    if right-left+1>maxlength:
       maxlength=right-left+1
print(maxlength)